.main {
   .section {
      .dashboard-card {
         .selfcare-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 25px;
            @include desktop-lg {
               flex-wrap: wrap;
               gap: 0;
            }
            .selfcare {
               min-width: 40%;
               @include desktop-lg {
                  min-width: 56%;
               }
               .card {
                  .card-body {
                     ul {
                        li {
                           padding: 0;
                           span {
                              position: relative;
                              @include desktop-lg-xl {
                                 font-size: 12px;
                              }
                              font-size: 13px;
                              font-weight: 700;
                              color: rgba(1, 41, 112, 0.6);
                              .popup {
                                 width: 96px;
                                 font-family: $secondary-font;
                                 font-weight: 600;
                                 text-align: center;
                                 position: absolute;
                                 visibility: hidden;
                                 bottom: 15px;
                                 box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
                                 margin-left: 5px;
                                 border-radius: 5px;
                                 padding: 5px;
                                 z-index: 1;
                                 background-color: white;
                                 color: rgba(1, 41, 112, 0.6);
                                 span {
                                    font-weight: bold;
                                 }
                              }
                              &:hover {
                                 cursor: context-menu;
                                 .popup {
                                    visibility: visible;
                                 }
                              }
                           }
                           div {
                              display: flex;
                              padding-top: 8px;
                              gap: 10px;
                              .btn {
                                 font-size: 11.5px;
                                 @include desktop-lg-xl {
                                    font-size: 10.5px;
                                 }
                              }
                              .btn-info {
                                 @include desktop-lg-xl {
                                    min-width: 147px;
                                 }
                                 display: flex;
                                 gap: 5px;
                                 min-width: 165px;
                                 align-items: center;
                                 justify-content: space-between;
                                 span {
                                    @include desktop-xl {
                                       font-size: 11px;
                                    }
                                    color: white !important;
                                    font-weight: bold;
                                    border-left: 1px solid white;
                                    padding-left: 5px;
                                    margin-left: 4px;
                                 }
                              }
                           }
                           &:last-child {
                              padding-top: 15px;
                              &:hover {
                                 background-color: white;
                              }
                              .btn {
                                 font-size: 12px;
                              }
                              .text-center {
                                 align-items: center;
                                 justify-content: center;
                                 button {
                                    min-width: 125px;
                                    min-height: 33px;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
            .training {
               min-width: 30%;
               @include desktop-lg {
                  min-width: 40%;
               }
               ul {
                  li {
                     a {
                        font-size: 14px;
                        font-weight: 600;
                        color: rgba(1, 41, 112, 0.6);
                     }
                     span {
                        color: #012970;
                        font-weight: bold;
                        border-left: 1.5px solid #012970;
                        padding-left: 10px;
                     }
                  }
               }
            }
            .chat-heads {
               width: 10%;
               top: 10px;
               position: fixed;
               top: 0;
               align-self: flex-start;
               z-index: 10;
               @include desktop-lg {
                  min-width: 100%;
               }
               .card-title {
                  padding: 20px 0 0 0;
                  text-align: center;
                  @include desktop-lg {
                     text-align: left;
                     padding-left: 20px;
                  }
               }
               .card-body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 17px;
                  @include desktop-lg {
                     flex-direction: row;
                     // flex-wrap: wrap;
                     justify-content: center;
                  }
                  .chat-single-head {
                     padding: 0;
                     border: none;
                     position: relative;
                     .active-status {
                        background-color: green;
                        border-radius: 10px;
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        bottom: 1px;
                        right: 4px;
                        border: 2px solid white;
                     }
                     &:hover {
                        background-color: white;
                        .popup-dialog {
                           // display: block;
                           // visibility: visible;
                           opacity: 1;
                           left: -114px;
                        }
                        a {
                           transform: scale(1.1);
                           img {
                           }
                        }
                     }
                     @include desktop-lg-sm {
                        max-width: 25%;
                     }
                     .popup-dialog {
                        transition: $basic-transition;
                        // visibility: hidden;
                        position: absolute;
                        opacity: 0;
                        background-color: white;
                        box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
                        border-radius: 5px;
                        text-align: center;

                        left: -100px;
                        top: 5px;
                        z-index: 1;
                        padding: 5px;
                     }
                     a {
                        transition: $basic-transition;
                        img {
                           max-width: 100%;
                        }
                     }
                  }

                  li {
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     a {
                        h6 {
                           text-align: center;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .chat-icon {
      background-color: #012970;
      z-index: 1;
      .button-wrapper {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 50px;
         width: 50px;
         border-radius: 10px;
         background-color: black;
         bottom: 50px;
         right: 50px;
         position: fixed;
         i {
            color: red;
         }
      }
      .chat-heads {
         visibility: hidden;
         opacity: 0;
         position: absolute;
         bottom: 75px;
         width: 75px;
         right: -50px;
         z-index: 1;
         transition: $basic-transition;
         .card-title {
            padding: 20px 0 0 0;
            text-align: center;
         }
         .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 17px;
            .chat-single-head {
               padding: 0;
               border: none;
               position: relative;
               .active-status {
                  background-color: green;
                  border-radius: 10px;
                  height: 15px;
                  width: 15px;
                  position: absolute;
                  bottom: 1px;
                  right: 4px;
                  border: 2px solid white;
               }
               &:hover {
                  background-color: white;
                  .popup-dialog {
                     opacity: 1;
                     left: -114px;
                  }
                  a {
                     transform: scale(1.1);
                     img {
                        max-width: 100%;
                     }
                  }
               }
               .popup-dialog {
                  transition: $basic-transition;
                  position: absolute;
                  opacity: 0;
                  background-color: white;
                  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
                  border-radius: 5px;
                  text-align: center;
                  left: -100px;
                  top: 5px;
                  z-index: 1;
                  padding: 5px;
               }
               a {
                  transition: $basic-transition;
                  img {
                     max-width: 100%;
                  }
               }
            }

            li {
               display: flex;
               flex-direction: column;
               align-items: center;
               a {
                  h6 {
                     text-align: center;
                  }
               }
            }
         }
      }
      .opacity-toogle {
         visibility: visible;
         opacity: 1;
         // right: 0;
         right: 50px;
      }
   }
}
