.main {
   .section {
      .dashboard-card {
         .selfcare-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 25px;
            @include desktop-lg {
               flex-wrap: wrap;
               gap: 0;
            }
            .selfcare {
               min-width: 40%;
               @include desktop-lg {
                  min-width: 56%;
               }
               .card {
                  .card-body {
                     ul {
                        li {
                           padding: 0;
                           span {
                              font-size: 13px;
                              font-weight: 700;
                              color: rgba(1, 41, 112, 0.6);
                           }
                           div {
                              display: flex;
                              padding-top: 8px;
                              gap: 10px;
                              .btn {
                                 font-size: 12.5px;
                              }
                              .btn-info {
                                 display: flex;
                                 gap: 5px;
                                 min-width: 165px;
                                 align-items: center;
                                 justify-content: space-between;
                                 span {
                                    color: white !important;
                                    font-weight: bold;
                                    border-left: 1px solid white;
                                    padding-left: 5px;
                                    margin-left: 4px;
                                 }
                              }
                           }
                           &:last-child {
                              padding-top: 15px;
                              &:hover {
                                 background-color: white;
                              }
                              .btn {
                                 font-size: 12px;
                              }
                              .text-center {
                                 align-items: center;
                                 justify-content: center;
                                 button {
                                    min-width: 125px;
                                    min-height: 33px;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
            .training {
               min-width: 30%;
               @include desktop-lg {
                  min-width: 40%;
               }
               // background-color: red;
            }
            .chat-heads {
               min-width: 25%;
               @include desktop-lg {
                  min-width: 100%;
               }
               .card-title {
                  padding: 20px 0 0 0;
                  text-align: center;
                  @include desktop-lg {
                     text-align: left;
                     padding-left: 20px;
                  }
               }
               .card-body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 5px;
                  @include desktop-lg {
                     flex-direction: row;
                     // flex-wrap: wrap;
                     justify-content: center;
                  }
                  .chat-single-head {
                     border-radius: 3px;
                     @include desktop-lg-sm {
                        max-width: 25%;
                     }
                     a {
                        img {
                           @include desktop-lg-sm {
                              max-width: 100%;
                           }
                        }
                     }
                  }

                  li {
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     a {
                        h6 {
                           text-align: center;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
